body {
    font-family: Arial, sans-serif;
    /* background-color: rgb(195, 249, 227); */
    background-image: url(green-sand-paper_53876-86281.webp);
    margin: 0;
    padding: 0;
}

.converter {
    text-align: center;
    background-color: white;
    max-width: 450px;
    margin: 200px auto;
    padding: 20px;
    border: 20px inset #1b0bf737;
    box-shadow: 0px 0px 30px 20px #000001;
    /* box-shadow: 10px 5px 13px 13px #1b0bf7; */
}

h1 {
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 3px 2px #03000c;
    color: #1b0bf7;
    font-style: oblique;
    font-variant: small-caps;
    font-size:50px;
    top: 10rem;

}

.input-group {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

input, select, button {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.circle {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: linear-gradient(to top right, #ffffff1f ,#ffffffff);
    position: absolute;
}

.c1 {
    height: 100px;
    width: 100px;
    top: 100px;
    left : 300px;
}
.c2 {
    height: 100px;
    width: 100px;
    right: 200px;
    bottom: 150px;
}
.c3 {
    
    bottom: 200px;
    left : 40px;
}

.c4 {
    
    right: 90px;
    top: 100px;
}
